{extend name="base" /}

{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form method="post" class="editData layui-form xn_ajax2" data-type="open" action="edit.html">
                <input type="hidden" name="id">

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" lay-filter="save" lay-submit class="layui-btn">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
