{extend name="base" /}

{block name="title"}日志{/block}

{block name="css"}

{/block}

{block name="body"}
<div class="layui-fluid">
    <div class="layui-card">
        <div class=" layui-card-header layuiadmin-card-header-auto">
            {include file="web_log/index_form"}
        </div>
        <div class="layui-card-body">
            <table class="layui-hide layui-table" id="test" lay-filter="test"></table>
        </div>
    </div>


    <!--html模版列表-->
    {include file="web_log/index_tpl"}

</div>
{/block}

{block name="js"}

<script type="application/javascript">

</script>
{/block}

