<form id="list-filter" class="layui-form form-search" method="get">
    <div class="layui-form-item">


        <div class="layui-inline">
            <select name="method" multiple>
                <option value="">请选择请求类型</option>
                {foreach name="methodList" item="vo" key="key"}
                <option value="{$key}"  >{$vo}</option>
                {/foreach}
            </select>

        </div>

        <div class="layui-inline">
            <select name="module" multiple>
                <option value="">请选择请求模块</option>
                {foreach name="moduleList" item="vo" key="key"}
                <option value="{$key}"  >{$vo}</option>
                {/foreach}
            </select>
        </div>

        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" name="search_key" value="" placeholder="请输入操作地址" class="layui-input ">
            </div>
            <button type="button" title="搜索" class="layui-btn  layui-btn-sm ajax-search-form2">
                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
        </div>
    </div>
</form>