<!-- 单行编辑菜单栏-->
<script type="text/html" id="apiListBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">查看详细</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!--批量编辑菜单栏-->
<script type="text/html" id="toolbarDemo">
    <button class="layui-btn layui-btn-sm" lay-event="dels">批量删除</button>
<!--    <button class="layui-btn layui-btn-sm" lay-event="edit"  style="float:right;">新增网站日志</button>-->
<!--    <button class="layui-btn layui-btn-sm" lay-event="export">批量导出</button>-->
</script>

<!--标签模版-->
<script type="text/html" id="webLogInfo">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">用户：</label>
            <div class="layui-input-block df-ac">
                {{d.userInfo.username}} [{{d.userInfo.id}}]
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">操作地点：</label>
            <div class="layui-input-block df-ac">
                {{d.location}} ({{d.ip}})
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作系统：</label>
            <div class="layui-input-block df-ac">
                {{d.os}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作浏览器：</label>
            <div class="layui-input-block df-ac">
                {{d.browser}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作URL：</label>
            <div class="layui-input-block df-ac">
                {{d.url}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作数据：</label>
            <div class="layui-input-block df-ac">
                <textarea  class="layui-textarea">{{d.data}}</textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">响应数据：</label>
            <div class="layui-input-block df-ac">
                <textarea  class="layui-textarea">{{d.response_data}}</textarea>
            </div>
        </div>

    </div>
</script>

<!--数据编辑列表-->
<!--<script type="text/html" id="editData">-->
<!--    {include file="web_log/index_edit"}-->
<!--</script>-->

<!--滑动鼠标查看大图-->
<div class="mouseenter_box">
    <img src="" alt="text" class="mouseenter_pic">
</div>

<style>
    .layui-form-item {
        margin-bottom: 0px;
        clear: both;
    }

    .layui-form-label {
        width: 100px;
    }
</style>