{extend name="base" /}

{block name="title"}日志{/block}

{block name="css"}

{/block}

{block name="body"}
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form id="list-filter" class="layui-form form-search" method="get">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <select name="method" multiple>
                        <option value="">请选择请求类型</option>
                        {foreach name="methodList" item="vo" key="key"}
                        <option value="{$key}">{$vo}</option>
                        {/foreach}
                    </select>
                </div>

                <div class="layui-inline">
                    <select name="module" multiple>
                        <option value="">请选择请求模块</option>
                        {foreach name="moduleList" item="vo" key="key"}
                        <option value="{$key}">{$vo}</option>
                        {/foreach}
                    </select>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="search_key" value="" placeholder="请输入操作地址" class="layui-input ">
                    </div>
                    <button type="button" title="搜索" class="layui-btn  layui-btn-sm ajax-search-form2">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="dataTable" lay-filter="dataTable"></table>
    </div>
</div>

<!--html模版列表-->
{include file="web_log/index_tpl"}


</body>
{/block}

{block name="js"}
<!-- 单行编辑菜单栏-->
<script type="text/html" id="apiListBar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i
            class="layui-icon layui-icon-survey">查看</i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script type="application/javascript">

    layui.use(['layer', 'form', 'jquery'], function () {
        var table = layui.table, form = layui.form, laytpl = layui.laytpl;
        const $ = layui.jquery;
        var cols = [
            {type: "checkbox"},
            {field: "id", title: "ID", width: 100},
            {field: "uid", title: "用户ID", width: 100},
            {field: "module", title: "模块", width: 100},
            {field: "method", title: "请求类型", width: 100},
            {field: "url", title: "操作地址"},
            {field: "otime_text", title: "操作时间", width: 200},
            // {"field":"ip","title":"IP"},
            // {"field":"os","title":"操作系统"},
            // {"field":"browser","title":"浏览器"},
            // {"field":"controller","title":"控制器"},
            // {"field":"action","title":"操作方法"},
            // {"field":"data","title":"参数"},
            {title: "操作", templet: "#apiListBar", "width": 200}
        ];
        var tableData;
        //表格初始化
        table.render({
            elem: '#dataTable',
            url: 'index.html',
            page: true,
            cols: [cols],
            cellMinWidth: 100,
            //数据回调解析
            parseData: function (res) {
                tableData = res.data;
                return {
                    code: res.code === 1 ? 0 : 1, //解析接口状态
                    msg: res.msg, //解析提示文本
                    count: res.data.total, //解析数据长度
                    data: res.data.data //解析数据列表
                }
            },
            //当前数据 当前页码 当前数据条数
            done: function (res, curr, count) {
                //记录表格数据
                tableData = res.data
            },
            even: false,
            toolbar: '#toolbar',
            defaultToolbar: [{
                title: '批量删除',
                layEvent: 'dels',
                icon: 'layui-icon-delete',
            }, {
                title: '刷新',
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'exports']
        });

        //监听单行工具条
        table.on('tool(dataTable)', (obj) => {
            var data = obj.data;
            if (obj.event === 'del') {
                layuiApiDel(data, () => {
                    obj.del()
                })
            } else if (obj.event === 'edit') {
                //窗口编辑
                laytpl($("#webLogInfo")[0].innerHTML).render(data, function (html) {
                    // 处理你的业务逻辑
                    layer.open({
                        type: 1,
                        title: '日志详情',
                        skin: 'layui-layer-black', //加上边框
                        area: ['600px', '600px'], //宽高
                        content: html
                    })
                })
            }
        });

        //表格顶部工具栏事件
        table.on('toolbar(dataTable)', (obj) => {
            let checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
            switch (obj.event) {
                //批量删除
                case 'dels':
                    let data = checkStatus.data;  //获取选中行数据
                    if (data.length === 0) {
                        layer.msg('请选择要删除的数据！', {icon: 5});
                        return;
                    }
                    layuiApiDel(data, () => {
                        table.reload('dataTable', {})
                    });
                    break;
                case 'refresh':
                    table.reload('dataTable', {})
                    break;
            }
        });

        let loading = {
            loadingInstance: null,
            timer: 0,//网络延迟时 才显示加载中
            open: function () {
                if (this.timer) {
                    return;
                }
                this.timer = setTimeout(() => {
                    this.load();
                }, 300)
            },
            load: function () {
                if (this.loadingInstance == null) {
                    this.loadingInstance = layui.layer.load(1);
                }
            },
            close: function () {
                if (this.timer) {
                    clearTimeout(this.timer)
                    this.timer = false;
                }
                if (this.loadingInstance !== null) {
                    layui.layer.closeAll('loading');
                }
                this.loadingInstance = null
            }
        }

        function layuiApiDel(data, callBack) {
            var url = data.deleteUrl || 'delete.html';
            let tip, delId;
            if (data.length > 0) {
                //删除多条
                tip = '确定要删除这' + data.length + '条信息吗？'
                delId = [];
                delId = data.map(x => x.id).join(',')
            } else {
                //删除单条
                tip = '确定要删除[ID:' + data.id + ']这条信息吗？'
                delId = data.id;
            }

            //询问框
            layer.confirm(tip, {
                title: "操作提示",
                skin: 'layui-layer-black',
                icon: 7,
                btn: ['确定', '取消'] //按钮
            }, function () {
                layer.closeAll();
                loading.open()
                $.post(url, {id: delId}, function (data) {
                    loading.close();
                    if (data.code === 1) {
                        callBack && callBack();
                    } else {
                        alert(data.msg);
                    }
                }, 'json')
            }, function () {

            })
        }


//列表搜索执行重载
        function LayuiReload() {
            var params = $("#list-filter").serializeArray();
            var newParams = {}
            for (var i in params) {
                newParams[params[i].name] = params[i].value;
            }
            layui.table.reload('dataTable', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: newParams
            }, 'data');
        }

//点击搜索框
        $('.ajax-search-form2').on('click', function () {
            LayuiReload()
        });

    });
</script>
{/block}

