{extend name="base" /}

{block name="title"}权限{/block}

{block name="css"}

{/block}

{block name="body"}
<body>
<div class="layui-fluid">
    <div class="layui-card" style="margin-top: 20px;">
        <div class="layui-row layui-col-space15">
            <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list">
                <form action="{:request()->url()}" method="post" class="xn_ajax" data-type="open">
                    <div class="layui-form-item">
                        <label class="layui-form-label">上级ID</label>
                        <div class="layui-input-block">
                            <select name="pid" lay-verify="required">
                                <option value="0">顶级分类</option>
                                {foreach name="list" item="vo"}
                                {if condition="$pid eq $vo['id']" }
                                <option value="{$vo.id}" selected>{$vo._name}</option>
                                {else}
                                <option value="{$vo.id}">{$vo._name}</option>
                                {/if}
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">操作名</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" lay-verify="required" placeholder="操作名" autocomplete="off"
                                   class="layui-input" value="{$data.title}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">控制器</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" placeholder="模块/控制器/方法" autocomplete="off"
                                   class="layui-input" value="{$data.name}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">设为菜单</label>
                        <div class="layui-input-block">
                            {if condition="$data['is_menu'] eq 1" }
                            <input type="checkbox" lay-verify="required" lay-filter="is_menu" name="is_menu"
                                   lay-skin="switch" lay-text="显示|隐藏" value="1" checked>
                            {else}
                            <input type="checkbox" lay-verify="required" lay-filter="is_menu" name="is_menu"
                                   lay-skin="switch" lay-text="显示|隐藏" value="1">
                            {/if}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="" class="layui-form-label">图标</label>
                        <div class="layui-input-block">
                            <div class="layui-input-inline" style="width: unset">
                                <input type="text" id="iconPicker2" name="icon"
                                       value="{$data.icon??'layui-icon layui-icon-circle-dot'}"
                                       lay-filter="iconPicker2" class="hide">
                            </div>
                            <div class="layui-input-inline" style="width: unset">
                                <span class="pear-btn" id="clear">清空</span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" lay-submit class="layui-btn">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
{/block}

{block name="js"}
<script type="application/javascript">
    layui.use(['iconPicker'], function () {
        var iconPicker = layui.iconPicker;
        iconPicker.render({
            elem: '#iconPicker2',
            type: 'fontClass',
            search: true,
            // 是否开启分页
            page: true,
            limit: 12,
            click: function (data) {
            },
            success: function (d) {
            }
        });
    });
</script>
{/block}